/* 웹폰트 적용 */
*{
	font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* 배경 동영상 */
div.bgVideo{
	position: fixed; top: 0; left: 0;
	height: 100%; width: 100%;
	opacity: 0.3;
	z-index: -10;
}
.bgVideoContent{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* 가장 큰 컨테이너 박스 */
.allContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw; height: 100vh;
}

/* 맨 위 큰 제목 스타일 */
h2{
	width: 540px; height: 40px;
	background: linear-gradient(#5ecffd, #5ecffd, #3bbdfd, #3bbdfd);
	border: solid 2px #0782dd; border-radius: 25px 25px 0 0; border-bottom: none;
	font-size: 1.5em; color: white; line-height: 1.8em; padding-left: 20px;
	text-shadow: -2px -2px #0782dd, 0px -2px #0782dd, 2px -2px #0782dd, -2px 0px #0782dd, 0px 0px #0782dd, 2px 0px #0782dd, -2px 2px #0782dd, 0px 2px #0782dd, 2px 2px #0782dd;
}

/* 바깥쪽 흰색 컨테이너 */
.outContainer{
	width: 520px; 
	border: solid 2px #0782dd; border-radius: 0 0 25px 25px;
	background-color: #ffffffe6;
	padding: 20px;
	position: relative;
}

/* 로그 박스 */
#logMessage{
	width: 260px; height: calc(100% - 20px);
	position: absolute; left: -300px; top: 0;
	padding: 10px;
	line-height: 1.1em;
	white-space: nowrap; overflow-x: scroll; overflow-y: scroll;
	/*background-color: #ffffffb3; backdrop-filter: blur(20px);*/
	background-color: transparent; backdrop-filter: blur(5px);
	/*border: solid 2px lightskyblue; border-radius: 10px; color: lightskyblue;*/
	border: solid 2px #0782dd; border-radius: 10px; color: #0782dd;
}

/* 안쪽 파란색 컨테이너 */
.innerContainer{
	background-color: #3bbdfd;
	border: solid 2px #2095e7; border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	color: white;
}
h3{
	font-size: 1.3em;
	color: white;
	text-shadow: -2px -2px #2095e7, 0px -2px #2095e7, 2px -2px #2095e7, -2px 0px #2095e7, 0px 0px #2095e7, 2px 0px #2095e7, -2px 2px #2095e7, 0px 2px #2095e7, 2px 2px #2095e7;
	margin-bottom: 5px;
}

/* 더 안쪽 짙은 파란색 컨테이너 */
.innerContainer2{
	background-color: #2095e7;
	border-radius: 4px;
	padding: 8px;
}

/* 입력란 스타일 */
#colorSelect, #bootsSelect, #percentInput, .fishExp{
	height: 30px; background: none; border: none;
	color: white; font-size: 1em; padding: 0 6px;
	background-color: #0782dd; border-radius: 2px;
	margin-right: 6px;
}
#colorSelect{width: 20%}
#bootsSelect{width: 40%}
#percentInput{width: 20%}
.fishExp{
	width: 40%;
	margin-bottom: 4px;
}
.fishExpSmall{
	width: 13%;
	margin-right: 0;
}

/* EXP 입력란 설명 문구 위치 지정 */
.expInputContainer{
	position: relative;
}
.expInputDescription{
	position: absolute; right: 12px; top: 12px;
	text-align: right;
	line-height: 1.2em;
	font-size: 0.9em;
	width: 220px;
}

/* 입력과 출력 레벨 시각적 표현 */
.iconDisplay{
	width: 27px; height: 22px;
	background: linear-gradient(white, #d2d2d2);
/*	margin-right: 6px;*/
	border: solid 1px #0782dd;
	display: inline-block;
}
.levelBarDisplay{
	width: 90%; height: 22px;
	background: linear-gradient(#8ea7bf, #adb9c6);
	border: solid 1px #0782dd;
	display: inline-block;
	margin-top: 1px;
}
.levelBarDisplayInner{
	width: 0%; height: 22px;
	background: linear-gradient(#8e5fed, #326ff5, #0592fe);
}

/* 하단 만든이 표시 */
footer{
	color: #2095e7; text-align: center;
	margin-top: 2px;
}

/* 모바일 환경 대응 */
@media (max-width: 575px){

/*	배경 동영상 */
	div.bgVideo{
		display: none;
	}
	.bgVideoContent{
		display: none;
	}

/*	가장 큰 컨테이너 박스 */
	.allContainer{
		display: block;
		width: 100%; min-height: 100%;
	}

/*	맨 위 큰 제목 스타일 */
	h2{
		width: calc(100% - 24px); height: 40px;
		border-radius: 0;
	}

	h3{
		font-size: 1.2em;
	}

/*	바깥쪽 흰색 컨테이너 */
	.outContainer{
		width: calc(100% - 24px); 
		border-radius: 0;
		background-color: white;
		padding: 10px;
	}

/* 로그 박스 */
#logMessage{
	display: none;
}
#logMessage>p{
	display: none;
}

/*	입력란 스타일 */
	#colorSelect, #bootsSelect, #percentInput, .fishExp{
		height: 30px; background: none; border: none;
		color: white; font-size: 1em; padding: 0 6px;
		background-color: #0782dd; border-radius: 2px;
		margin-right: 6px;
	}
	#colorSelect{width: 90%; margin-bottom: 4px;}
	#bootsSelect{width: 90%; margin-bottom: 4px;}
	#percentInput{width: 80%}
	.fishExp{
		width: 80%;
		margin-bottom: 4px;
	}
	.fishExpSmall{
		width: 18%;
		margin-right: 0;
	}

/*	EXP 입력란 설명 문구 위치 지정 */
	.expInputContainer{
		position: static;
	}
	.expInputDescription{
		position: static;
		text-align: left;
		font-size: 1em;
		width: 95%;
		margin-bottom: 8px;
	}

/*	입력과 출력 레벨 시각적 표현 */
	.iconDisplay{
		width: 27px; height: 22px;
		background: linear-gradient(white, #d2d2d2);
		border: solid 1px #0782dd;
		display: inline-block;
	}
	.levelBarDisplay{
		width: 85%; height: 22px;
		background: linear-gradient(#8ea7bf, #adb9c6);
		border: solid 1px #0782dd;
		display: inline-block;
		margin-top: 1px;
	}
	.levelBarDisplayInner{
		width: 0%; height: 22px;
		background: linear-gradient(#8e5fed, #326ff5, #0592fe);
	}

/*	하단 만든이 표시 */
	footer{
		height: 30px;
	}

}
